@import "../../scss/";

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 100px;
}

.loadMore {
	position: relative;

	color: $accentColor;
	font-size: $secondaryFS;

	font-weight: 500;
	line-height: 150%;
	background-color: transparent;

	transition-property: color;
	transition-duration: $transitionDuration;
	transition-timing-function: $transitionTimingFunction;

	&::after {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;

		width: 0;
		height: 2px;
		background-color: $accentColor;

		transition-property: width, background-color;
		transition-duration: $transitionDuration;
		transition-timing-function: $transitionTimingFunction;
	}

	&:hover {
		color: $accentHoverColor;
	}

	&:hover::after {
		background-color: $accentHoverColor;
		width: 100%;
	}
}
