$accentColor: #0b44cd;
$accentHoverColor: #3470ff;

$transaparentFontColor: #12141780;

$mainFS: 12px;
$secondaryFS: 16px;
$selectFS: 18px;

$transitionDuration: 250ms;
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
