@import "/src/scss/";

.card {
	position: relative;

	display: flex;
	flex-direction: column;

	width: 274px;

	&:hover .img {
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	}

	.icon {
		position: absolute;
		right: 14px;
		top: 14px;

		fill: transparent;
		transition-property: fill;
		transition-duration: $transitionDuration;
		transition-timing-function: $transitionTimingFunction;
		cursor: pointer;

		&:hover {
			fill: #ffffff;
		}
	}
}

.wrapper {
	flex-grow: 1;
}

.img {
	height: 268px;

	object-fit: cover;
	user-select: none;

	margin-bottom: 14px;

	border-radius: 14px;
	background: linear-gradient(180deg, #12141780 2.5%, #12141700 41.07%), #f3f3f2;

	transition-property: box-shadow;
	transition-duration: $transitionDuration;
	transition-timing-function: $transitionTimingFunction;

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0) 6px 6px rgba(0, 0, 0, 0);
}

.titleWrapper {
	display: flex;
	justify-content: space-between;
	padding-right: 9px;

	color: #121417;

	font-size: $secondaryFS;

	font-weight: 500;
	line-height: 150%;

	margin-bottom: 8px;
}

.model {
	color: $accentHoverColor;
}

.data {
	color: #12141780;
	font-size: $mainFS;
	padding: 0 6px;
	font-weight: 400;
	line-height: 150%;

	&:not(:last-child) {
		border-right: 1px solid rgba(18, 20, 23, 0.1);
	}
}
