@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");

html {
	box-sizing: border-box;
	&.overflowHidden {
		overflow: hidden;
	}
}

#root {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

button {
	border: none;
	cursor: pointer;
}

img,
picture,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	font-family: "Manrope", sans-serif;
	line-height: 1.5;
	color: #121417;

	background-color: rgb(255, 253, 247);
}
